{% extends "form.html" %}

{% block content %}

<h1 class="mb-4">Categorie</h1>

<fieldset class="border p-4 rounded">
    <legend class="float-none w-auto px-2 text-primary">Inserisci categoria</legend>
    <form action="/api/add_categoria" method="POST" class="mt-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="categoria" id="categoria" placeholder="Categoria"
                aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="submit" id="button-addon2">Salva</button>
        </div>
    </form>
</fieldset>
<fieldset class="border p-4 rounded">
    <legend class="float-none w-auto px-2 text-primary">Elenco categorie</legend>
    <table class="table table-striped">
        <thead class="table-light">
            <tr>
                <th>Categoria</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorie %}
            <tr>
                <td>{{ categoria.categoria }}</td>
                <td>
                    <a href="{{ url_for('categorie.elimina_categoria', id=categoria.id) }}"
                        class="btn btn-danger btn-sm">Elimina</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</fieldset>

{% endblock %}