{% extends "form.html" %}

{% block content %}


<div class="container mt-5">
    <h1 class="mb-4">Elenco dei Libri</h1>
    <table id="tabella_libri" class="table table-striped">
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>Titolo</th>
                <th>Autore</th>
                <th>Casa editrice</th>
                <th>Isbn</th>
                <th>Categoria</th>
                <!-- <th>Posizione</th> -->
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libri %}
            <tr>
                <!-- <td>{{ libro.id }}</td> -->
                <td><a href="/api/libro/{{ libro.id }}">{{ libro.titolo }}</a></td>
                <td>{{ libro.autore.nome}} {{ libro.autore.cognome}}</td>
                <td>{{ libro.casa_editrice }}</td>
                <td>{{ libro.isbn }}</td>
                <td>{{ libro.categoria.categoria }}</td>
                <!-- <td>{{ libro.posizione }}</td> -->
                <td>
                    <a href="/api/libro/{{ libro.id }}/edit" class="btn btn-primary btn-sm" title="Modifica"><i
                            class="fa-solid fa-pen-to-square"></i> </a>
                    <a href="#" class="btn btn-danger btn-sm" onclick="eliminaLibro({{ libro.id }})" title="Elimina"><i
                            class="fa-solid fa-trash"></i> </a>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    // Inizializzazione della tabella con DataTables
    $(document).ready(function () {
        $('#tabella_libri').DataTable({
            paging: true,      // Abilita la paginazione
            searching: false,   // Abilita la barra di ricerca
            ordering: true     // Abilita l'ordinamento delle colonne
        });
    });
</script>


{% endblock %}