{% extends "form.html" %}

{% block content %}
<h1 class="mb-4">Elenco dei Libri</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titolo</th>
            <th>Autore</th>
            <th>Casa editrice</th>
            <th>Isbn</th>
            <th>Categoria</th>
            <th>Posizione</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        {% for libro in libri %}
        <tr>
            <td>{{ libro.id }}</td>
            <td>{{ libro.titolo }}</td>
            <td>{{ libro.autore }}</td>
            <td>{{ libro.casa_editrice }}</td>
            <td>{{ libro.isbn }}</td>
            <td>{{ libro.categoria }}</td>
            <td>{{ libro.posizione }}</td>
            <td>
                <a href="/api/libro/{{ libro.id }}" class="btn btn-primary btn-sm"><i class="fa-solid fa-eye"></i>
                    Dettagli </a>
                <a href="/api/libro/{{ libro.id }}/edit" class="btn btn-primary btn-sm"><i
                        class="fa-solid fa-pen-to-square"></i> Modifica </a>
                <a href="#" class="btn btn-danger btn-sm" onclick="eliminaLibro({{ libro.id }})"><i
                        class="fa-solid fa-trash"></i> Elimina </a>
            </td>
        </tr>
        {% endfor %}
</table>
{% endblock %}