{% extends "form.html" %}

{% block content %}
<h1 class="mb-4">Gestione dei Libri</h1>

<form action="/api/add_libro" method="POST" class="mt-4">
    <div class="mb-3">
        <label for="titolo" class="form-label">Titolo</label>
        <input type="text" class="form-control" id="titolo" name="titolo" required>
    </div>
    <div class="mb-3">
        <label for="autore" class="form-label">Autore</label>
        <input type="text" class="form-control" id="autore" name="autore" required>
    </div>
    <div class="mb-3">
        <label for="casa_editrice" class="form-label">Casa editrice</label>
        <input type="text" class="form-control" id="casa_editrice" name="casa_editrice" required>
    </div>
    <div class="mb-3">
        <label for="isbn" class="form-label">ISBN</label>
        <input type="text" class="form-control" id="isbn" name="isbn" required>
    </div>
    <div class="mb-3">
        <label for="categoria" class="form-label">Categoria</label>
        <select class="form-select" id="categoria" name="categoria" aria-label="Floating label select example">
            <option selected>Effettuare una scelta...</option>
            <option value="Narrativa">Narrativa</option>
            <option value="Didattica">Didattica</option>
            <option value="Altro">Altro</option>
        </select>

    </div>
    <div class="mb-3">
        <label for="posizione" class="form-label">Posizione</label>
        <input type="text" class="form-control" id="posizione" name="posizione">
    </div>

    <button type="submit" class="btn btn-primary">Inserisci</button>
    <a href="/api/libri" class="btn btn-secondary">Annulla</a>
</form>

{% endblock %}